.special-offers {
  .special-offer-header {
    margin-top: 60px;
    font-family: $primary-font;
    font-size: 30px;

    .special-offer-header-underline {
      width: 186px;
      height: 2px;
      background-color: black;
      margin-top: -10px;
    }
  }
}
