// these are for the promo images/text
@mixin promo($bgImage) {
  height: 304px;
  width: 235px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url($bgImage);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

@mixin promoText {
  background-color: yellowgreen;
  font-family: $primary-font;
  font-style: thin;
  text-align: center;

  h1 {
    margin-bottom: 0px;
    font-size: 60px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 56px;
    font-size: 30px;
  }
}

@mixin promoButton {
  width: 133px;
  height: 40px;
  background-color: $site-blue;
  border-radius: 20px;
  font-size: 15px;
  font-family: $secondary-font;
  display: flex;
  align-items: center;
  letter-spacing: normal;

  a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: white;
  }
}

// these are for the tour-desc pages
@mixin tourDescHeader($bgImage) {
  height: 413px;
  width: 981px;
  margin: 0 auto 40px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url($bgImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  color: white;

  h1 {
    font-size: 80px;
    font-family: $primary-font;
    font-style: thin;
    position: absolute;
    inset: 30px 0 0 30px;
  }

  p {
    font-size: 30px;
    font-family: $primary-font;
    font-style: thin;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -5px;
  }
}

@mixin tourDescImgContainer {
  min-height: 347px;
  // background-color: cadetblue;
  display: flex;
  justify-content: space-between;
}

@mixin tourDescPromo($bgImage) {
  width: 298px;
  height: 347px;
  background-image: url($bgImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin tourDescBlog {
  min-height: 204px;

  h1 {
    font-family: $primary-font;
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: lighter;
    margin-top: 29px;
  }

  .about-underline {
    height: 2px;
    width: 171px;
    background-color: black;
    margin-top: -20px;
  }

  p {
    margin-top: 36px;
    font-family: $secondary-font;
    letter-spacing: 2px;
    margin-bottom: 80px;
  }
}

// this area is for the special offer page
@mixin offerImage($bgImage) {
  width: 199px;
  height: 287px;
  background-image: url($bgImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin offerContent($underline-width) {
  max-width: 315px;
  margin-left: 20px;

  .offer-box-header {
    font-family: $primary-font;
    font-size: 30px;
    color: black;

    span {
      font-size: 20px;
      color: $special-offer-discount;
    }

    .offer-box-underline {
      width: $underline-width;
      height: 2px;
      background-color: black;
      margin: -15px 0 22px 0;
    }
  }

  .offer-text {
    font-family: $secondary-font;
    font-weight: lighter;
    margin-bottom: 52px;
  }
}

// this area is for the blog page
@mixin blogBox() {
  min-height: 259px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  .blog-date {
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: $site-blue;
    margin-right: 20px;
    color: white;
    font-family: $secondary-font;

    .blog-date-day {
      font-size: 22px;
      font-weight: bold;
      margin: 10px 0 0 0;
    }

    .blog-date-month {
      font-size: 12px;
      font-weight: lighter;
    }
  }

  .blog-content {
    width: 900px;
    min-height: 100px;

    .blog-content-img {
      width: 100%;
      height: 259px;
      background-image: url(../images/blog.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .blog-content-text {
      min-height: 100px;
      max-width: 380px;
      // background-color: wheat;
      margin: 20px 0;
      font-family: $secondary-font;

      .blog-content-title {
        font-size: 15px;
        margin-bottom: 11px;
      }

      .blog-content-desc {
        font-size: 13px;
        color: $site-blue;
      }
    }
  }
}

// this area is for the contact page
@mixin contactBox($boxHeight) {
  height: $boxHeight;
}

// https://stackoverflow.com/questions/5448044/sass-background-image-mixin
