* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: $site-width;
  margin: 0 auto;
  letter-spacing: 2px;
  // min-height: 200px;
  // background-color: brown;
}

// this area is for fonts

@font-face {
  font-family: GillSans-Regular;
  src: url(fonts/GillSans.ttc);
}

@font-face {
  font-family: ProximaNova-ExtraCondensed;
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
