.tour-one {
  margin: 48px auto 29px auto;

  .tour-desc-header {
    @include tourDescHeader("../images/tour-01.jpg");
  }

  .tour-desc-img-container {
    @include tourDescImgContainer;

    .desc-promo-one-first {
      @include tourDescPromo("../images/israel/israel-tour-01.jpg");
    }

    .desc-promo-one-second {
      @include tourDescPromo("../images/israel/israel-tour-02.jpg");
    }

    .desc-promo-one-third {
      @include tourDescPromo("../images/israel/israel-tour-03.jpg");
    }
  }

  .blog-container {
    @include tourDescBlog;
  }

  .book-now-button {
    margin: 0 auto;
    @include promoButton;
  }
}

@media screen and (max-width: 1280px) {
  .tours-desc-header {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .tours-desc-header {
    max-width: 720px;
  }
}
