.about {
  margin: 100px 0 179px 0;
  color: $site-black;
  width: $site-width;

  .about-header {
    margin-bottom: 101px;

    h1 {
      font-family: $primary-font;
      font-size: 60px;
      letter-spacing: 4px;
      font-weight: lighter;
      background-color: burlywood;
    }

    .about-underline {
      height: 2px;
      width: 171px;
      background-color: black;
      margin-top: -20px;
    }

    p {
      margin-top: 36px;
      font-family: $secondary-font;
      letter-spacing: 2px;
    }
  }

  .about-client-quotes {
    h1 {
      font-family: $primary-font;
      letter-spacing: 4px;
      font-weight: lighter;
      font-size: 40px;
      width: $site-width;
    }

    .client-quotes-underline {
      width: 255px;
      height: 2px;
      background-color: black;
      margin-top: -10px;
    }

    .client-box {
      max-width: 722px;
      //   background-color: burlywood;
      display: flex;
      position: relative;
      margin: 36px 0 20px 0;

      .client-image-one {
        width: 260px;
        height: 150px;
        // hard coded because this will probably not change
        margin-right: 21px;
        background-image: url(../images/about-client-01.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .client-image-two {
        width: 260px;
        height: 150px;
        // hard coded because this will probably not change
        margin-right: 21px;
        background-image: url(../images/about-client-02.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .client-quote {
        // background-color: chocolate;
        max-width: 440px;
        margin-bottom: 20px;
        letter-spacing: 2px;
        font-family: $secondary-font;
        font-style: italic;
      }

      .client-name {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $site-blue;
        letter-spacing: 4px;
        font-family: $primary-font;
        font-size: 20px;
        font-weight: lighter;
      }
    }
  }
}

// @media screen and (max-width: 1280px) {
//   .about {
//     max-width: 80%;
//     background-color: chartreuse;

//     .about-header {
//       h1 {
//         max-width: 50%;
//         // margin: 0px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 900px) {
//   .about {
//     max-width: 720px;
//   }
// }

// could not figure out why, when set to a max-width of 80%, that it cuts it down so small. Leaving it alone for now, tried several things, will take a look at it tomorrow
